@{
  Layout = "_Layout";
}
<h3 class="view-title">Dr. Sneuss' Factory</h3>
<hr />
<h4 class="view-title">Machines</h4>
<div class="flex container">
  @if (Model.Count == 0)
  {
    <h5>None.</h5>
  }
  @foreach (Machine machine in Model)
  {
    <h5 class="entry-link">@html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId }</h5>
  }
</div>