@{
  Layout = "_Layout";
}

<h3 class="view-title">Dr. Sneuss' Factory</h3>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <h4 class="sub-title">Machines</h4>
  </div>
  <div class="col-md-4">
    <h4 class="sub-title">Technicians</h4>
  </div>
  <div class="col-md-2">
  </div>
</div>